{% if inline %}
<snippet class="addendum-inline-snippet">
    <hint>✎</hint>
    <editor id="{{ key }}">{{ value }}</editor>
    <script type="text/javascript">
    var timer_{{ key }} = setInterval(function () {
        if (tinymce && default_tinymce_options)
            clearInterval(timer_{{ key }});
        tinymce.init(obj_update(default_tinymce_options, {
            selector: '#{{ key }}',
            setup: function(ed) {
                ed.on('blur', function(e) {
                    $.post(
                        '{% url 'addendum:inline_save' key=key %}',
                        {value: tinymce.activeEditor.getContent()},
                        function (response) {
                            if (response.state) {
                                var hint = document.querySelector('#{{ key }}').parentNode.querySelector('hint');
                                hint.style.animationName = 'addendum-flick';
                                hint.style.animationDuration = '2s';
                                hint.style.animationIterationCount = 'infinite';
                                setInterval(function () { hint.style.animation = 'none'; }, 4000);
                            } else {
                                alert('Unknown error: ' + response);
                            }
                        }
                    ).fail(function () {
                        alert('Unknown error! Please see Network/Log.');
                    });
                });
            }
        }));
    }, 500);
    </script>
</snippet>
{% else %}
    {{ value }}
{% endif %}

